openapi: 3.2.0
info:
  title: Aira Technologies Categories API
  version: wp/v2
  description: Public, unauthenticated read access to the content categories applied across the Aira Technologies
    posts and articles — Blog, News, Press Releases and related segments. Verified live at 5 categories.
  contact:
    name: Aira Technologies
    url: https://aira-technology.com/contact-us/
  x-derived-from: https://aira-technology.com/wp-json/ route index + per-route HTTP OPTIONS schema documents
  x-derived-on: '2026-09-14'
  x-api-evangelist-note: Third-party profile. Aira Technologies publishes no developer program or API documentation;
    this documents the anonymously readable WordPress REST content API behind aira-technology.com. Every path, parameter
    and schema here was read from the server's own HTTP OPTIONS documents on 2026-09-14 — nothing is invented.
servers:
- url: https://aira-technology.com/wp-json
  description: Aira Technologies WordPress REST API
tags:
- name: Categories
  description: Content categories applied to posts and articles.
paths:
  /wp/v2/categories:
    get:
      operationId: listCategories
      summary: List categories
      description: Retrieve a paginated collection of published categories. Verified live at 5 categories on capture.
      tags:
      - Categories
      parameters:
      - name: context
        in: query
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      - name: exclude
        in: query
        schema:
          type: array
          items:
            type: integer
        description: Ensure result set excludes specific IDs.
      - name: hide_empty
        in: query
        schema:
          type: boolean
          default: false
        description: Whether to hide terms not assigned to any posts.
      - name: include
        in: query
        schema:
          type: array
          items:
            type: integer
        description: Limit result set to specific IDs.
      - name: order
        in: query
        schema:
          type: string
          enum:
          - asc
          - desc
          default: asc
        description: Order sort attribute ascending or descending.
      - name: orderby
        in: query
        schema:
          type: string
          enum:
          - id
          - include
          - name
          - slug
          - include_slugs
          - term_group
          - description
          - count
          default: name
        description: Sort collection by term attribute.
      - name: page
        in: query
        schema:
          type: integer
          default: 1
          minimum: 1
        description: Current page of the collection.
      - name: parent
        in: query
        schema:
          type: integer
        description: Limit result set to terms assigned to a specific parent.
      - name: per_page
        in: query
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
        description: Maximum number of items to be returned in result set.
      - name: post
        in: query
        schema:
          type: integer
          default: null
        description: Limit result set to terms assigned to a specific post.
      - name: search
        in: query
        schema:
          type: string
        description: Limit results to those matching a string.
      - name: slug
        in: query
        schema:
          type: array
          items:
            type: string
        description: Limit result set to terms with one or more specific slugs.
      responses:
        '200':
          description: A page of categories.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Category'
          headers:
            X-WP-Total:
              description: Total number of records matching the query.
              schema:
                type: integer
            X-WP-TotalPages:
              description: Total number of pages available at the current per_page.
              schema:
                type: integer
            Link:
              description: RFC 8288 pagination links (rel="next" / rel="prev").
              schema:
                type: string
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required for this context or method — `rest_forbidden`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No such record or no such route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /wp/v2/categories/{id}:
    get:
      operationId: getCategory
      summary: Get a category
      description: Retrieve a single published category by its numeric id.
      tags:
      - Categories
      parameters:
      - name: id
        in: path
        required: true
        description: Unique identifier for the category.
        schema:
          type: integer
      - name: context
        in: query
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
        description: Scope under which the request is made; determines fields present in response.
      responses:
        '200':
          description: The category record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required for this context or method — `rest_forbidden`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No such record or no such route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      description: WordPress REST error envelope. Match on `code`, never on `message`.
      properties:
        code:
          type: string
          description: Machine-readable error code.
        message:
          type: string
          description: Human-readable message; wording is not stable.
        data:
          type: object
          description: Error detail.
          properties:
            status:
              type: integer
              description: HTTP status code.
            params:
              type: object
              description: Per-parameter validation messages, when the error is a validation failure.
      required:
      - code
      - message
      - data
    Category:
      title: category
      type: object
      properties:
        id:
          description: Unique identifier for the term.
          type: integer
        count:
          description: Number of published posts for the term.
          type: integer
        description:
          description: HTML description of the term.
          type: string
        link:
          description: URL of the term.
          type: string
          format: uri
        name:
          description: HTML title for the term.
          type: string
          required: true
        slug:
          description: An alphanumeric identifier for the term unique to its type.
          type: string
        taxonomy:
          description: Type attribution for the term.
          type: string
          enum:
          - category
        parent:
          description: The parent term ID.
          type: integer
        meta:
          description: Meta fields.
          type: object
