openapi: 3.2.0
info:
  title: Aira Technologies oEmbed API
  version: oembed/1.0
  description: Public oEmbed 1.0 provider endpoint for aira-technology.com URLs, returning embeddable rich metadata
    — title, author, thumbnail and iframe HTML — for any post, page, article or event on the site. Verified live
    against https://aira-technology.com/naavik/.
  contact:
    name: Aira Technologies
    url: https://aira-technology.com/contact-us/
  x-derived-from: https://aira-technology.com/wp-json/ route index + HTTP OPTIONS on /oembed/1.0/embed
  x-derived-on: '2026-09-14'
  x-api-evangelist-note: Third-party profile. Aira Technologies publishes no developer program or API documentation;
    this documents the anonymously readable WordPress REST content API behind aira-technology.com. Every path, parameter
    and schema here was read from the server's own HTTP OPTIONS documents on 2026-09-14 — nothing is invented.
servers:
- url: https://aira-technology.com/wp-json
  description: Aira Technologies WordPress REST API
tags:
- name: oEmbed
  description: oEmbed 1.0 provider endpoint.
paths:
  /oembed/1.0/embed:
    get:
      operationId: getOembed
      summary: Get oEmbed metadata for a URL
      description: Return oEmbed 1.0 rich metadata for any aira-technology.com URL.
      tags:
      - oEmbed
      parameters:
      - name: format
        in: query
        schema:
          type: string
          default: json
      - name: maxwidth
        in: query
        schema:
          type: string
          default: 600
      - name: url
        in: query
        schema:
          type: string
          format: uri
        description: The URL of the resource for which to fetch oEmbed data.
        required: true
      responses:
        '200':
          description: oEmbed 1.0 response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OEmbedResponse'
        '400':
          description: Invalid parameter — `rest_invalid_param`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required for this context or method — `rest_forbidden`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No such record or no such route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      type: object
      description: WordPress REST error envelope. Match on `code`, never on `message`.
      properties:
        code:
          type: string
          description: Machine-readable error code.
        message:
          type: string
          description: Human-readable message; wording is not stable.
        data:
          type: object
          description: Error detail.
          properties:
            status:
              type: integer
              description: HTTP status code.
            params:
              type: object
              description: Per-parameter validation messages, when the error is a validation failure.
      required:
      - code
      - message
      - data
    OEmbedResponse:
      type: object
      description: oEmbed 1.0 rich response.
      properties:
        version:
          type: string
          description: oEmbed version. Always "1.0".
        provider_name:
          type: string
          description: Provider name. "Aira Technologies".
        provider_url:
          type: string
          format: uri
          description: Provider URL. https://aira-technology.com
        author_name:
          type: string
          description: Author byline for the embedded resource.
        author_url:
          type: string
          format: uri
          description: Author archive URL.
        title:
          type: string
          description: Title of the embedded resource.
        type:
          type: string
          description: oEmbed type, e.g. "rich".
        width:
          type: integer
        height:
          type: integer
        html:
          type: string
          description: Embeddable iframe markup.
        thumbnail_url:
          type: string
          format: uri
        thumbnail_width:
          type: integer
        thumbnail_height:
          type: integer
